.intro {
    width: 883px;
    color: #fff;
    margin: 92px auto 66px 148px;
}
.intro__title {
    margin: 0 0 40px;
    width: 883px;
    font-size: 3.375rem;
    font-weight: 900;
    line-height: 107.407%;
}
.intro__quotes {
    width: 758px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 141.667%;
    margin: 0;
}
.intro__author {
    width: 720px;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 141.667%;
    margin: 0 0 16px;
}
.intro__text {
    width: 720px;
    font-weight: 400;
    line-height: 163%;
    margin: 0;
}