.lead {
    margin: auto;
    text-align: center;
    color: #fff;
    
}
.lead__title {
    margin: 0 auto 32px;
    max-width: 793px;
    font-size: 6rem;
    font-weight: 900;
    line-height: 104.167%;
}
.lead__subtitle {
    max-width: 720px;
    font-size: 1.875rem;
    line-height: 120%;
    margin:0 auto 64px;
}
.lead__image {
    max-width: 984px;
    height: 615px;
    filter: grayscale(1);
}

