.card__place {
    margin-bottom: 80px;
    color: #fff;
    display: grid;
    grid-template: 
        "title author"
        "image paragraph"
        "button paragraph"
        ". paragraph";
    grid-column-gap: 40px;
}
.card__title {
    grid-area: title;
    width: 460px;
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 105.556%;
    margin: 0;
    /* height: 228px; */
}
.card__author {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    grid-area: author;
}
.card__url-heading {
    color: #AAA;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    margin: 0;
}
.card__artist {
    width: 456px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 122.222%;
    margin: 0;
}
.card__image {
    width: 460px;
    height: 460px;
    margin: 26px 0 48px 0;
    grid-area: image;
}
.card__main-paragraph {
    grid-area: paragraph;
}
.card__paragraph {
    width: 484px;
    font-size: 1.03125rem;
    font-weight: 400;
    line-height: 163%;
    margin: 16px 0 0 0;
}
.card__paragraph:first-child {
    margin-top: 26px;
}
.card__button {
    margin-right: auto;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: normal;
    padding: 13px 20px;
    border-radius: 4px;
    border: none;
    background: #0278FE;
    grid-area: button;
    cursor: pointer;
}
